<div class="emp-card" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-icon color="accent" (click)="edit()">create</mat-icon>
        <mat-icon color="warn" (click)="delete()">delete</mat-icon>
    </div>
    <div class="user-name" fxLayout="row" fxLayoutAlign="start center">
        {{employee.firstName+' '+employee.lastName}}
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="label">Email : </span>
        <span class="value">
            {{employee.email}}
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="label">Mobile No : </span>
        <span class="value">
            {{employee.mobileNo}}
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="label">Company : </span>
        <span class="value">
            {{employee.company}}
        </span>
    </div>
</div>