<div fxLayout="column" fxLayoutAlign="start stretch">
    <span fxLayout="row" fxLayoutAlign="center center" class="page-heading">
        Welcome To Employee Managment
    </span>
    <div class="app-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error *ngIf="loginForm.controls['email'].errors?.required">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls['email'].errors?.email">Invalid email</mat-error>

            </mat-form-field>
            <mat-form-field>
                <input formControlName="password" matInput type="password" placeholder="Password">
                <mat-error *ngIf="loginForm.controls['password'].errors?.required">Password is required</mat-error>
            </mat-form-field>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="24px">
                <button type="button" mat-stroked-button color="primary" routerLink="/home/register">Sign Up</button>
                <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
            </div>
        </form>
    </div>
</div>